Screen {
    align: center middle;
    background: #14181c 100%;
}

#tabs {
    dock: top;
}

#button-roulette {
    width: auto;
    margin: 1;
}

#user-input {
    width: 33%;
}

#list-input {
    width: 33%;
}

#film-title {
    width: auto;
}

#film-info {
    padding: 1;
    width: auto;
}

#film-review {
    padding: 1;
    width: 50%;
    text-align: center;
}

#watched-button {
    width: auto;
    margin: 1;
}